<div class="row">
  <div class="col-xs-12">
    <img src="{{selectedTodo?.imagePath}}" alt="" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{selectedTodo?.title}}</h1>
  </div>
  <div class="col-xs-12" *ngIf="selectedTodo">
    <button class="btn btn-success" *ngFor="let type of types"
            style="margin: 2px"
            (click)="changeType(type)">
            Mark as {{type}}</button>
    <button class="btn btn-primary" (click)="edit()">Edit</button>
    <button class="btn btn-danger" (click)="delete()">Delete</button>
    <button class="btn btn-danger" (click)="cancel()">Cancel</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <p>{{selectedTodo?.details}}</p>
  </div>
</div>

