
<br/><br/><br/>
<h1 align="center">Welcome to TODO List</h1>
<br/><br/>
<div style="margin: 0 auto; width: 10%">
  <input type="submit" class="btn btn-primary form-control" name="login" id="login" data-toggle="modal" data-target="#myModal1" value="Sign In">
  <br/>
  <br/>
  <input type="submit" class="btn btn-info form-control" name="signup" id="signup" data-toggle="modal" data-target="#myModal2" value="Register">
</div>



<div id="myModal1" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <form class="form-signin" [formGroup]="logInForm" (ngSubmit)="onLogIn()">
        <div class="modal-body">
          <h2 class="form-signin-heading">Please sign in</h2><br/>
          <h4 id="error"></h4><br/>
          <label for="inputEmail" class="sr-only">Email address</label>
          <input type="email" id="inputEmail" formControlName="email" name="email" class="form-control" placeholder="Email address" required autofocus><br>
          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" id="inputPassword" formControlName="password" name="password" class="form-control" placeholder="Password" required>
          <br/>
          <button class="btn btn-primary btn-block" type="submit" [disabled]="!logInForm.valid">Sign in</button>
          <button type="submit" class="btn-block btn btn-default cancel" data-dismiss="modal">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div id="myModal2" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">

        <form id="register-form" class="form-signin" [formGroup]="signUpForm" novalidate="novalidate" (ngSubmit)="onSignUp()">

          <h2 class="form-signin-heading">Register</h2><br/>
          <h4 id="error2"></h4><br/>
          <input type="text" id="firstname" name="firstname" class="form-control" formControlName="username" placeholder="Name" required autofocus>
          <br/>
          <label for="email" class="sr-only">Email address</label>
          <input type="email" id="email" name="email" class="form-control" formControlName="email" placeholder="Email address" required>
          <br/>
          <label for="password" class="sr-only">Password</label>
          <input type="password" id="password" name="password" class="form-control" formControlName="password" placeholder="Password" required>
          <br/><br/>
          <button class="btn btn-primary btn-block" type="submit" [disabled]="signUpForm.valid">Submit</button>
          <button type="submit" class="btn-block btn btn-default cancel" data-dismiss="modal">Cancel</button>

        </form>

      </div>
    </div>
  </div>
</div>
